.form-field {
    height: 50px;
    /* width: 100%;
    max-width: 400px; */
    width: 400px;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin: auto;
}

option {
    padding: 15px;
}

.rectangle {
    width: calc(100% - 20px);
    max-width: 380px;
    opacity: 0.7;
    background-color: #D5D7E5;
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 0;
}

#dropdown-container {
    position: relative; 
    /* width: 100%;
    max-width: 400px; */
    width: 400px;
    margin: auto; 
}

#dropdown-inner-container {
    height: 55px;
}

.pos-absolute {
    position: absolute;
}

#select-field {
    z-index: 1;
    width: 100% !important;
}

.button {
    height: 50px;
    /* width: 100%;
    max-width: 246px; */
    width: 246px;
    border-radius: 25px;
    background-color: #2A2B8D;
    border: none;
    color: white;
    font: 800 14px OpenSans;
    letter-spacing: 2px;
    display: block;
    margin: auto;

}