.form-field {
    height: 50px;
    /* width: 100%;
    max-width: 400px; */
    width: 400px;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding-left: 22px;
    font-weight: 600;
    font-size: 14px;
    border: none
}

.placeholder {
    color: lightgray !important;
}

option {
    padding: 15px;
}

.rectangle {
    width: calc(100% - 20px) !important;
    max-width: 380px;
    opacity: 0.7;
    background-color: #D5D7E5;
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 0;
}

#dropdown-container {
    position: relative; 
    /* width: 100%;
    max-width: 400px; */
    width: 400px;
    margin: auto; 
}

#dropdown-inner-container {
    height: 55px;
}

.pos-absolute {
    position: absolute;
}

#select-field {
    z-index: 1;
    width: 100% !important;
    margin-top: 2.5px;
    
}

.button {
    height: 50px;
    /* width: 100%;
    max-width: 246px; */
    width: 246px;
    border-radius: 25px;
    background-color: #2A2B8D;
    border: none;
    color: white;
    font: 800 14px OpenSans;
    letter-spacing: 2px;
    display: block;
    margin: auto;

}

@media only screen and (max-width: 1220px) {
    #navbar {
        .dropdown-container {
            display: none;
        }
    }
}

@media only screen and (max-width: 770px) {
    #navbar {
        .form-field {
            max-width: 400px;
            width: 33vw;
           
        }
    
        .button {
            width: 33vw;
            max-width: 246px;
        }
    }

    #images-container {
        flex-direction: column;
    }

    .search-button-container {
        margin-right: 10px;
    }


}

@media only screen and (max-width: 450px) {
    #main-form {
        .form-field, #dropdown-container {
            max-width: 400px;
            width: 100%
        }

  

        .input-field-container, .dropdown-container {
            margin: 10px;
        }
    }
}
