#header {
    font-family: OpenSans;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.bold {
    font-weight: 700;
}

@media only screen and (max-width: 1440px) {
    #header {
        display: none
    }
}
