#image-search {
    margin-top: 23vh;
}

.chameleon-icon-container {
    margin-bottom: 14px;
}

.header-container {
    margin-bottom: 51px;
}

.input-field-container {
    margin-bottom: 21px;
}

.dropdown-container {
    margin-bottom: 75px;
}