#images-container {
    display: flex;
    justify-content: center;
    margin: 0 10%;
    padding-top: 120px;
    z-index: 0;

    img {
        width: 100%;
        margin: 10px 0;
    }
}

.col {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}